
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .container-fluid{
    
    object-fit: fill;
} */
::selection{
    color: #000;
    background: #fff;
}
nav{
    position: fixed;
    background: transparent;
    width: 100%;
    z-index: 12;
    padding: 10px 0;
    
}
nav .menu{
    width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
   list-style: none;
    margin: 10px;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    padding: 5px;
}
.menu ul li a:hover{
    color: black;
    background-color: #fff;
    border-radius: 5px;
}
.img{
    
    background: url("https://images.unsplash.com/photo-1633603125151-6a3c1a4778a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80")no-repeat;
    width: 100%;
    height:100vh;
    background-size: cover;
    background-position: center right;
    position: relative;
    /* object-fit: fill; */
}
.img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    text-align:right;
    
    text-indent: lem;

    
    transform: translate(-50%,-50%);
    
}
.center p{
    margin-right: 50px;
}
.center .title{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.center .subtitle{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.center .btns{
    margin-top: 20px ;
}
.center .btns button{
    height: 55px;
    width: 150px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.6s;
    font-size: 20px;
}
.center .btns button:first-child{
    color: #fff;
    background: none;
    border: #fff 1px solid;
}
.center .btns button:first-child:hover{
    color: #fff;
    background: black;
}
.center .btns button:last-child{
    color: black;
    background: white;
}
.center .btns button:last-child:hover{
    color: #fff;
    background: black;
}